<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.community.mapper.QuestionDtoMapper">

    <resultMap id="questionDtoMap" type="com.li.community.dto.QuestionDto">
        <association property="question" javaType="com.li.community.entity.Question">
            <id property="id" column="id"></id>
            <result property="title" column="title"></result>
            <result property="gmtCreate" column="gmt_create"></result>
            <result property="gmtModified" column="gmt_modified"></result>
            <result property="creator" column="creator"></result>
            <result property="commentCount" column="comment_count"></result>
            <result property="viewCount" column="view_count"></result>
            <result property="likeCount" column="like_count"></result>
            <result property="tag" column="tag"></result>
            <result property="description" column="description"></result>
        </association>

        <association property="user" javaType="com.li.community.entity.User">
            <id property="id" column="id"></id>
            <result property="accountId" column="account_id"></result>
            <result property="name" column="name"></result>
            <result property="token" column="token"></result>
            <result property="avatarUrl" column="avatar_url"></result>
            <result property="gmtCreate" column="gmt_create"></result>
            <result property="gmtModified" column="gmt_modified"></result>
        </association>
    </resultMap>

    <!--查询所有问题和其发起者的信息-->
    <select id="questionPage" resultMap="questionDtoMap">
        select * from question q inner join user u on q.creator=u.id ${ew.customSqlSegment}
    </select>

    <!--查询单个问题的信息-->
    <select id="questionById" resultMap="questionDtoMap">
        select * from question q inner join user u on q.creator=u.id ${ew.customSqlSegment}
    </select>


</mapper>