<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="commons/commons.html :: head"></div>
<body>

<div th:replace="commons/commons.html :: nav_bar"></div>

<!--发现-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <!--问题列表-->
            <!--            <div class="media">-->
            <!--                <div class="media-left">-->
            <!--                    <a href="#">-->
            <!--                        <img class="media-object img-rounded media-img-size"-->
            <!--                             src="https://avatars2.githubusercontent.com/u/47939250?v=4" alt="...">-->
            <!--                    </a>-->
            <!--                </div>-->
            <!--                <div class="media-body">-->
            <!--                    <h4 class="media-heading">我的问题</h4>-->
            <!--                    <span class="text-desc">3 个回复 • 65 次浏览 • 2020-01-11 09:36</span>-->
            <!--                </div>-->
            <!--            </div>-->

            <div th:each="list : ${page.getRecords()}" class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded media-img-size" th:src="${list.user.avatarUrl}"
                             src="https://avatars2.githubusercontent.com/u/47939250?v=4" alt="...">
                    </a>
                </div>

                <div class="media-body">
                    <h4 class="media-heading" th:text="${list.question.title}"></h4>
                    <span class="text-desc"
                          th:text="${list.question.commentCount} + '个回复• ' + ${list.question.viewCount} +'次浏览 • ' +${#calendars.format(list.question.gmtCreate,'yyyy-MM-dd HH:mm')} "></span>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${page.hasPrevious()}">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNo : ${#numbers.sequence(begin, end)}"
                        th:class="${pageNo == page.getCurrent()} ? 'active'">
                        <a th:href="@{/questionPage/{pageNo}/{size}(pageNo=${pageNo},size=${page.getSize()})}" th:text="${pageNo}"
                        ></a>
                    </li>
                    <li th:if="${page.hasNext()}">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--分页-->

            <!--问题列表-->

        </div>

        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h3>热点</h3>
        </div>
    </div>

</div>
<!--发现-->


</body>
</html>